@use '../abstracts/media' as *;
@use '../abstracts/variables' as *;
  
  #name {
    color: $text-accent;
  }
  
  #role {
    font-weight: 400;
  }
  
  #location {
    font-weight: 400;
    font-size: 1rem;
    color: #666;

    @include desktop(medium) {
      font-size: 1.2rem;
    }
  }
  
  .icons {
    margin: 5px 0px 10px 3px;
  }