@use '../abstracts/media' as *;
@use '../abstracts/variables' as *;

@font-face {
  font-family: 'Despairs';
  src: url('../fonts/despairs/despairs-font-trial.ttf');
}

#role {
  font-weight: 400;
}

#location {
  font-weight: 400;
  font-size: 1rem;
  color: $text-body;

  @include desktop(medium) {
    font-size: 1.2rem;
  }
}

.icons {
  margin: 5px 0px 10px 3px;
}

.projects {
  margin-top: 2%;

  .projects__heading {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-bottom: 20px;
    padding: 8px 0;
    // width: 100vw;
    background-color: $background;
  }

  #type-filter {
    display: flex;
    flex-wrap: wrap;

    h3 {
      margin-right: 16px;
      cursor: pointer;
      transition: $transition;

      &:hover,
      &.active {
        color: $link;
        transition: $transition;
      }
    }
  }

  .links-container {
    // min-height: calc(100vh - 130px);
    // margin: 0 -2%;

    // @include desktop(medium) {
    //   min-height: calc(100vh - 143px);
    // }

    .link-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      background-color: #fff;
      margin: 1.5%;
      padding: 0 1rem;
      width: 36%;
      height: 300px;
      box-shadow:
        1px 1px 0 $text-main,
        2px 2px 0 $text-main,
        3px 3px 0 $text-main;
      border: 2px solid $text-main;
      border-radius: 1.5rem;
      transition: box-shadow 0.5s;

      @media (max-width: 389px) {
        width: 35%;
      }

      @include desktop(medium) {
        width: 16%;
        height: 350px;
        margin: 2%;
      }

      img {
        width: 100%;
        aspect-ratio: 1 / 1;
        box-sizing: border-box;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #aaa;
      }

      h4 {
        font-weight: 800;
        font-size: 1.1rem;
      }

      p {
        margin: 0;
        font-size: 14px;
      }

      &:hover {
        box-shadow:
          1px 1px 0 $text-main,
          2px 2px 0 $text-main,
          3px 3px 0 $text-main,
          3px 4px 0 $text-main,
          4px 5px 0 $text-main,
          4px 6px 0 $text-main;
        transition: box-shadow 0.15s;
      }

      .tools {
        margin-top: 0.5rem;
        letter-spacing: 1px;
        color: $link;
        opacity: 0.8;
        font-weight: 800;
        font-size: 14px;
      }
    }
  }
}

[data-theme='dark'] {
  .tools {
    opacity: 1 !important;
  }
}
