@use '../abstracts/media' as *;
@use '../abstracts/variables' as *;

@font-face {
  font-family: 'Despairs';
  src: url('../fonts/despairs/despairs-font-trial.ttf');
}

.heading {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100px;
  border-radius: 50%;
  padding-top: 2rem;
  margin-right: 1rem;

  @include desktop(medium) {
    max-width: 120px;
    margin-right: 1rem;
  }
}

.about {
  margin-top: 3rem;
  max-width: 500px;

  .icon {
    height: 20px;
    width: 20px;
  }

  i,
  .icons a {
    font-size: 1.1rem;
    transition: $transition;
    margin-top: 0.4rem;
    margin-right: 0.5rem;

    &:hover {
      color: $link;
      transition: $transition;
    }
  }

  .svg-inline--fa {
    font-size: 1.4em;
  }

  #location {
    font-weight: 400;
    font-size: 1rem;
    color: $text-body;
    // letter-spacing: 8px;
    font-family: monospace;

    @include desktop(medium) {
      font-size: 1.2rem;
    }
  }

  .icons {
    margin: 5px 0px 10px 3px;
  }
}

.projects {
  margin-top: 2%;
  position: relative;

  .projects__heading {
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 3;
    padding: 8px 0;
    background-color: $background;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../img/noise.png');
      opacity: 0.1;
      pointer-events: none;
      z-index: -1;
    }
  }

  #type-filter {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;

    li {
      cursor: pointer;
      transition: $transition;
      background-color: #cca5;
      padding: 0.25rem 0.5rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 5px;
      font-family: monospace;
      font-size: 14px;

      &:hover,
      &.active {
        background-color: $link;
        color: $background;
        transition: $transition;
      }
    }
  }

  .links-container {
    .link-block {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      // overflow: hidden;
      // background-color: #fff;
      margin: 1rem;
      padding: 0.5rem;
      width: 90%;
      border-radius: 0.5rem;
      transition:
        box-shadow 0.5s,
        border-color 0.5s;

      @include desktop(medium) {
        width: 28%;
        margin: 2rem 1rem;
      }

      h4 {
        font-weight: 800;
        font-size: 1.1rem;
      }

      p {
        margin: 0;
        font-size: 14px;
      }

      &:hover {
        // border-color: $link;
        // box-shadow:
        //   1px 1px 0 $link,
        //   2px 2px 0 $link,
        //   3px 3px 0 $link,
        //   3px 4px 0 $link,
        //   4px 5px 0 $link,
        //   4px 6px 0 $link;
        // transition:
        //   box-shadow 0.15s,
        //   border-color 0.15s;
      }

      .tools {
        margin-top: 0.5rem;
        letter-spacing: 1px;
        color: $link;
        opacity: 0.8;
        font-weight: 800;
        font-size: 14px;
      }
    }
  }
}

[data-theme='dark'] {
  .tools {
    opacity: 1 !important;
  }
}
