@use '../abstracts/variables' as *;
@use '../abstracts/media' as *;

.link-block {
  .img-wrapper {
    position: relative;
    max-width: 100%;
    width: 50%;
    flex-shrink: 0;
    border: 1.5px solid #222;
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;

    // Base 3D effect
    transform: perspective(1000px) rotateY(-26deg) rotateX(10deg);
    transform-style: preserve-3d;
    transition:
      transform 0.3s ease-out,
      box-shadow 0.3s ease-out;

    box-shadow:
      1px 1px 0 #666,
      2px 1px 0 var(--text-main),
      3px 2px 0 var(--text-main),
      4px 2px 0 var(--text-main),
      5px 3px 0 var(--text-main),
      6px 3px 0 var(--text-main),
      10px 9px 6px 0px rgba(0, 0, 0, 0.5);

    img {
      width: 100%;
      height: auto;
      display: block;
      // border-radius: 1rem;
      box-shadow: none;
    }

    .img-placeholder {
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(10px);
      opacity: 1;
      transition: opacity 0.4s ease-out;
      z-index: 2;
    }

    .img-full {
      position: relative;
      opacity: 0;
      transition: opacity 0.4s ease-out;
      z-index: 3;

      &.loaded {
        opacity: 1;
      }
    }
  }
  &:hover {
    .img-wrapper {
      transform: perspective(1000px) rotateY(-8deg) translateY(5px) scale(1.035);
      box-shadow:
        1px 0px 0 var(--text-main),
        3px 4px 6px 0px rgba(0, 0, 0, 0.5);
      transition:
        transform 0.3s ease-out,
        box-shadow 0.3s ease-out;
    }
  }
}
