@use '../abstracts/media' as *;
@use '../abstracts/variables' as *;

.links-container {

    &.links-container--static {
        display: flex;
        flex-wrap: wrap;
    }

    .link-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px 2% 10px 0px;
        padding: 20px 25px;
        width: 163px;
        height: 163px;
        background-color: $red;
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 1px 1px 0 #fff, 2px 2px 0 #fff, 3px 3px 0 #fff;
        box-sizing: border-box;
        transition: $transition;
    
        @include desktop {
            width: 225px;
            // max-width: 200px;
        }

        &:hover {
            background-color: $blue;
            transition: $transition;
        }

        h4, p {
            margin: 0;
        }

        h4 {
            font-weight: 800;
        }
    }
}