// ITEM
$text-main: #f8f8f8;
$text-body: #f8f8f8;
$text-accent: #f4e1e1;
$link: #5af;
$background: #9c4b41;
$background--dark: #813e36;

// COLOR
$blue: #5af;
$red: #9c4b41;
$red--dark: #813e36;

// FONT
$font1: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;
$shadow: 0px 5px 16px rgba(0,0,0,0.3);
$transition: .15s ease;