// ITEM
$text-main: #444;
$text-body: #333;
$text-accent: #444;
$link: #ed4a49;
$background: #fcfaf4;
$background--dark: #813e36;

// Possible
// ed4a49


// COLOR
$blue: #5af;
$red: #9c4b41;
$red--dark: #813e36;

// FONT
$font1: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;
$shadow: 0px 5px 16px rgba(0,0,0,0.3);
$transition: .15s ease;